.block-learn_more {
    width: 100%;
    min-height: 512px;
    background-color: #095ADE;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.block-learn_more img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    z-index: -1;
}


.more_info {
    color: white;
    text-align: center;
}