/* .block-learn_more{
    width: 100%;
    height: 512px;
    background: url(../../images/Rectangle\ 30.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
}

.block-learn_more::before{
    content: '';
    background: url(../../images/Mask\ group.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 512px;
    position: absolute;
} */

.block-learn_more{
    width: 100%;
    height: 512px;
  background-color: #095ADE;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* .block-learn_moreA{
    background: url('../../images/Mask\ group.png') ;
} */


.more_info{
    color: white;
    text-align: center;
}

