.explore-courses__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.explore-courses{
    margin-bottom: 100px;
}

.internship{
    border-bottom: 5px solid #095ADE;
}