.figures{
    padding: 100px;
    text-align: center;
}

.figures__info{
    display: flex;
    justify-content: space-around;
    list-style: none;
    border-top: 2px solid #A9B3AB;
    border-bottom: 2px solid #A9B3AB;
}

.figures__info li{
    border-right: 2px solid #A9B3AB;
    margin-right: 10px;
    padding: 70px 105px 70px 105px;
}

.figures__info li:last-child{
    border-right: none;
}

.figures__info .numbers{
    color: #095ADE;
    font-size: 25px;
    font-weight: 500;
}

.figures__info .letters{
    letter-spacing: 4px;
}
/* .lists li:nth-child(4),
.lists li:nth-child(6)
{
    background-color: green;
} */
