.registered__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registered h2 {
    margin: 100px;
    text-align: center;
}

.registered h3 {
    color: #095ADE;
    margin-bottom: 16px;
}

.registered h3::before {
    content: '';
    display: block;
    background-color: #095ADE;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    position: absolute;
    transform:translate(-60px, 8px) ;
    /* right: 55px;
    top: 35px;*/
} 

.registered h3::after {
    content: '';
    display: block;
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    position: absolute;
    transform:translate(-60px, -20px);
    /* transform: scale(0.5,0.5); */
    /* left: 55px;
    bottom: 35px; */
}

.registered p{
    font-size: 20px;
    line-height: 40px;
    width: 1084px;
}