.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 34px 0 100px 0;
}

.menu a{
    text-decoration: none;
    font-size: 16px;
}

.middle-menu a{
 color: #181818;;
}

.signup-login .signup{
    color: #095ADE;
}

.middle-menu{
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.signup-login{
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup-login .btn{
    padding: 2px 25px;
}

.middle-menu a:hover{
    color: #095ADE;
   }